{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Inicial</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap" />
    <link rel="stylesheet" href="{% static '/index.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="flex-row-e">
        <div class="hero-bg-shape">
          <div class="rectangle">
            <span class="doar">Instale Já</span><div class="arrow-right"></div>
          </div>
          <a href="/login">
          <div class="rectangle-1">
            <span class="login">Login</span>
            <div class="vector"></div>
          </div>
        </div>
      </a>
        <div class="image"></div>
        <div class="nav-bar">
          <div class="nav-menu">
            <a href="">
            <span class="home">Home</span>
            </a>
            <a href="{% url 'sobrenos' %}">
            <span class="sobre-nos">Sobre Nós</span         
            ></a>
            <a href="/termos">
            <span class="servicos">Termos de Serviço</span>
            </a>
            <span class="contato">Contato</span>
          </div>
        </div>
        <div class="shape">
          <div class="image-3"><div class="frame"></div></div>
          <span class="ilhas-de-marajo">Ilhas de Marajó</span
          >
          <div class="flex-row-e-4">
            <span class="raised">Levantado : R$0</span
            ><span class="goal">Objetivo: R$90,000</span>
          </div>
          <div class="rectangle-5"><div class="rectangle-6"></div></div>
          <div class="rectangle-7"><span class="doe-ja">Doe já!</span></div>
        </div>
        <span class="doe-com-o-coracao"
          >Doe com o Coração, Alimente uma Geração</span
        ><span class="doar-tambem-e-amar"
          >Doar também é <br />amar, seja a mudança<br />você mesmo.</span
        >
        <div class="shape-8">
          <div class="image-9"></div>
          <span class="paraisopolis">Paraisópolis</span
          >
          <div class="flex-row-ec">
            <span class="raised-b">Levantado : R$0</span
            ><span class="goal-c">Objetivo: R$90,000</span>
          </div>
          <div class="rectangle-d"><div class="rectangle-e"></div></div>
          <div class="rectangle-f"><span class="doe-ja-10">Doe já!</span></div>
        </div>
        <span class="partilhe-plus"
          >Partilhe+ é um projeto sustentável que busca ajudar as pessoas
          carentes com fome e necessidade através de produtores afiliados ao
          projeto.</span
        >
        <div class="shape-11">
          <div class="archived">
            <span class="plus">0+</span><span class="doadores">Doadores</span>
          </div>
          <div class="clarity-in-last-year">
            <span class="plus-12">0+</span
            ><span class="pessoas-ajudadas">Pessoas ajudadas</span>
          </div>
          <div class="donations-received">
            <span class="plus-13">0+</span
            ><span class="reais-arrecadados">Reais arrecadados</span>
          </div>
        </div>
      </div>
      <span class="text-1b"
        >“Não há competição onde há desigualdade de condições. Há
        covardia.”</span
      ><span class="eduardo-marinho">Eduardo Marinho</span>
      <div class="bg">
        <div class="image-14">
          <span class="r">r</span><span class="e">e</span
          ><span class="o">o</span><span class="empty-space"> </span
          ><span class="l">l</span><span class="n">N</span
          ><span class="p">p</span>
          <div class="ellipse"></div>
          <span class="ox">o</span><span class="arrow-down">x</span>
          <div class="w"></div>
          <span class="e-15">w</span><span class="ilhas-de-marajo-16">E</span>
        </div>
        <span class="social-services">Ilhas de Marajó</span
        ><span class="raised-17"
          >O Marajó é um arquipélago no Pará, com 16 municípios e mais de 500 mil habitantes. Apesar da riqueza cultural e potencial turístico, os piores IDH-M (Índice de Desenvolvimento Humano do Município) estão na região.</span
        ><span class="goal-18">Levantado : $0</span
        ><span class="shapes">Objetivo: $90,000</span>
        <div class="ellipse-19"></div>
        <div class="rectangle-1a"></div>
        <div class="donate-now"><span class="explore">Doe Já</span></div>
        <div class="rectangle-1b"></div>
      </div>
      <div class="title">
        <div class="como-ajudar">
          <span class="mudanca">Como começar a ajudar?</span
          ><span class="frame-1c">Comece agora a mudança</span>
          <div class="cards"></div>
        </div>
        <div class="cards-1d">
          <div class="card">
            <div class="users">
              <div class="vector-1e"><div class="title-1f"></div></div>
              <div class="crie-conta">
                <span class="doacoes">Crie sua conta</span
                ><span class="card-20"
                  >Crie sua conta para fazer as doações</span
                >
              </div>
            </div>
            <div class="hands-clapping">
              <div class="box-9"><div class="vector-21"></div></div>
              <div class="title-22">
                <span class="select-lugar-doacao"
                  >Selecione o Lugar da doação</span
                ><span class="cards-acesso-lugares-doacao"
                  >Nos cards você pode ter acesso aos lugares para doação</span
                >
              </div>
            </div>
            <div class="card-23">
              <div class="ph-smiley"><div class="vector-24"></div></div>
              <div class="title-25">
                <span class="espalhe-felicidade">Espalhe Felicidade</span
                ><span class="acao-ajuda-vidas"
                  >Com a doação você pratica uma boa ação e ajuda as vidas de
                  quem mais precisa</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row">
        <span class="cidades-indice-carencia"
          >Cidades com Maiores Indíce<br />de Carência</span
        ><span class="novidades-partilhe"
          ></span
        >
        <div class="button">
          <span class="mostrar-mais"></span>
        </div>
      </div>
      <div class="flex-row-d">
        <div class="rectangle-27">
          <div class="image-28"></div>
          <div class="flex-row-e-29">
            <div class="ph-clock-clockwise"></div>
            <div class="text">
              <span class="marajo">Fernando Falcão</span
              ><span class="ajude-alimentar-marajo"
                >Ajude a alimentar Fernando Falcão!
              </span>
            </div>
          </div>
          <div class="arrecadado">
            <span class="meta">Arrecadado: R$ 0</span
            ><span class="shape-2a">Meta: R$ 80.000</span>
          </div>
          <div class="rectangle-2b"></div>
          <div class="doe-agora"><span class="rectangle-2c">Doe já!</span></div>
        </div>
        <div class="image-2d">
          <div class="flex-row-c"></div>
          <div class="ph-clock-clockwise-2e">
            <div class="text-2f"></div>
            <div class="marajo-30">
              <span class="ajude-alimentar-marajo-31">Rio Grande do Sul</span
              ><span class="arrecadado-32">Novamente, o Rio Grande do Sul está sendo afetado pelas chuvas.
            </div>
          </div>
          <div class="meta-33">
            <span class="shape-34">Arrecadado: R$ 0</span
            ><span class="rectangle-35">Meta: R$ 80.000</span>
          </div>
          <div class="doe-agora-36"></div>
          <div class="rectangle-37"><span class="image-38">Doe já!</span></div>
        </div>
        <div class="flex-row-dd">
          <div class="ph-clock-clockwise-39"></div>
          <div class="wrapper-b">
            <div class="box-12"></div>
            <div class="text-3a">
              <span class="marajo-3b">Marajó</span
              ><span class="ajude-alimentar-marajo-3c"
                >Ajude a alimentar Marajó,
              </span>
            </div>
          </div>
          <div class="flex-row-cac">
            <span class="arrecadado-r">Arrecadado: R$ 0</span
            ><span class="meta-r">Meta: R$ 80.000</span>
          </div>
          <div class="shape-3d"></div>
          <div class="rectangle-3e">
            <span class="doe-agora-3f">Doe já!</span>
          </div>
        </div>
      </div>
      <div class="flex-row-aca">
        <div class="rectangle-40">
          <div class="image-41"></div>
          <div class="flex-row-fc">
            <div class="ph-clock-clockwise-42"></div>
            <div class="text-43">
              <span class="marajo-44">Marajó</span
              ><span class="ajude-alimentar-marajo-45"
                >Ajude a alimentar Marajó,
              </span>
            </div>
          </div>
          <div class="flex-row-a">
            <span class="arrecadado-r-46">Arrecadado: R$ 0</span
            ><span class="meta-r-47">Meta: R$ 80.000</span>
          </div>
          <div class="shape-48"></div>
          <div class="rectangle-49">
            <span class="doe-agora-4a">Doe já!</span>
          </div>
        </div>
        <div class="rectangle-4b">
          <div class="image-4c"></div>
          <div class="flex-row-ac">
            <div class="ph-clock-clockwise-4d"></div>
            <div class="text-4e">
              <span class="marajo-4f">Marajó</span
              ><span class="ajude-alimentar-marajo-50"
                >Ajude a alimentar Marajó,
              </span>
            </div>
          </div>
          <div class="flex-row-51">
            <span class="arrecadado-r-52">Arrecadado: R$ 0</span
            ><span class="meta-r-53">Meta: R$ 80.000</span>
          </div>
          <div class="shape-54"></div>
          <div class="rectangle-55">
            <span class="doe-agora-56">Doe já!</span>
          </div>
        </div>
        <div class="rectangle-57">
          <div class="image-58"></div>
          <div class="flex-row-e-59">
            <div class="ph-clock-clockwise-5a"></div>
            <div class="text-5b">
              <span class="marajo-5c">Marajó</span
              ><span class="ajude-alimentar-marajo-5d"
                >Ajude a alimentar Marajó,
              </span>
            </div>
          </div>
          <div class="flex-row-a-5e">
            <span class="arrecadado-r-5f">Arrecadado: R$ 0</span
            ><span class="meta-r-60">Meta: R$ 80.000</span>
          </div>
          <div class="shape-61"></div>
          <div class="rectangle-62">
            <span class="doe-agora-63">Doe já!</span>
          </div>
        </div>
      </div>
        <div class="flex-row-fd">
        <div class="panel">
          <span class="projeto-seguro">O projeto é seguro?</span>
          <span class="seguro-sim"
            >O nosso projeto é 100% seguro e confiável, sua doação chegará segura nas mãos de quem mais necessita</span
          >
          <div class="chevron"><div class="vector-stroke"></div></div>
        </div>
        <span class="perguntas-frequentes">Perguntas Frequentes</span>
      </div>
      <div class="panel-64">
        <span class="cadastro">Como me cadastro?</span>
        <span class="cadastronsio"
            >É simples, apenas clique no botão de Login no canto superior direito dessa página, se você não tiver uma conta apenas clique no botão de se registrar que estará disponível nessa página</span
          >
        <div class="chevron-65"><div class="vector-stroke-66"></div></div>
      </div>
      <div class="image-6a"></div>
      <div class="menu-categories">
        <span class="doacoes-6b">Doações</span
        ><span class="causos-populares">Causos Populares</span
        ><span class="proximos-eventos">Próximos Eventos</span
        ><span class="noticias">Notícias</span
        ><span class="contato-6c">Contato</span><span class="ajuda">Ajuda</span
        ><span class="privacidade">Privacidade</span>
      </div>
      <span class="direitos-reservados"
        >© 2024 Partilhe | Todos os Direitos Reservados.</span
      >
      <div class="flex-row-a-6d">
        <span class="perguntas-time"
          >Perguntas feitas frequentemente para nosso time</span
        >
        <div class="panel-open">
          <div class="panel-6e">
            <span class="limite-doacao"
              >Existe um limite de doação que eu posso fazer?</span
            >
          </div>
          <span class="sem-limite"
            >Não existe nenhum tipo de limite desse tipo</span
          >
        </div>
        <div class="shape-71"></div>
      </div>
      <div class="panel-72">
        <span class="tipos-moeda">O site aceita quais tipos de moeda?</span>
        <span class="chico-moedas"
            >O nosso projeto não aceitará nenhum tipo de moeda, apenas alimentos perecíveis disponibilizados pelas produtoras</span
          >
        <div class="chevron-73"><div class="vector-stroke-74"></div></div>
      </div>
      <div class="panel-75">
      </div>
    </div>
  </body>
</html>

