{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" />
    <link rel="stylesheet" href="{% static '/index2.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="flex-row-da">
        <div class="image"></div>
        <div class="rectangle">
          <span class="doar">Doar</span>
          <div class="arrow-right"></div>
        </div>
        <a href="/">
        <span class="home"> Home</span></a>
        <a href="">
        <span class="sobre-nos">Sobre Nós</span   
        ></a>
        <a href="/termos">
        <span class="servicos">Termos de Serviço</span>
        </a>
        <span class="contato">Contato</span>
        <div class="line"></div>
      </div>
      <div class="rectangle-1">
        <span class="info-important"
          >“Coloque as info mais importantes aqui... como data de fucionamento,
          serviços e tal</span
        >
      </div>
      <div class="line-2"></div>
      <div class="nossa-historia">
        <span class="nossa">Nossa<br /></span
        ><span class="historia">História<br /></span>
      </div>
      <div class="flex-row-a">
        <div class="video"></div>
        <div class="rectangle-3"></div>
        <div class="group"></div>
      </div>
      <div class="line-4"></div>
      <div class="flex-row-d">
        <div class="regroup">
          <div class="line-5"></div>
          <div class="line-6"></div>
        </div>
        <div class="rectangle-7">
          <span class="mission-core"
            >At the core of our mission is the optimization of your time,
            physical vitality, and mental energy, enabling you to concentrate
            more effectively on your objectives and excel in your professional
            endeavors.<br
          /></span>
          <div class="group-8"></div>
          <span class="best-performances">Best performances<br /><br /></span>
        </div>
        <div class="group-9"></div>
      </div>
      <div class="line-a"></div>
      <div class="conheca-servicos">
        <span class="conheca-servicos-b">Conheça nossos<br /></span
        ><span class="servicos-c">Serviços</span>
      </div>
      <div class="flex-row-d-d">
        <div class="rectangle-e"></div>
        <div class="regroup-f">
          <div class="customer-service"></div>
          <div class="group-10"></div>
        </div>
        <div class="group-11"></div>
        <div class="group-12"></div>
        <span class="customer-service-13"
          >At our company, our Customer Service Department is wholly committed
          to delivering unparalleled service to our valued customers. From the
          very first point of contact, customers are warmly welcomed with a
          friendly smile and a supportive demeanor. Our team undergoes rigorous
          training to adeptly handle customer requests and inquiries with
          efficiency and efficacy, ensuring a remarkable experience that upholds
          the elevated standards we hold dear.</span
        >
        <div class="img-8"></div>
        <div class="vector"></div>
      </div>
      <div class="flex-row-ea">
        <div class="rectangle-14"></div>
        <div class="rectangle-15"></div>
        <div class="rectangle-16"></div>
        <div class="rectangle-17"></div>
        <div class="rectangle-18"></div>
      </div>
      <div class="line-19"></div>
      <div class="nossos-diferenciais">
        <span class="nossos">Nossos<br /></span><span class="dif">Dif</span
        ><span class="erenciais">erenciais</span>
      </div>
      <div class="flex-row-ed">
        <div class="rectangle-1a">
          <div class="rectangle-1b">
            <div class="frame"><div class="vector-1c"></div></div>
          </div>
          <div class="weekly-rotating-menu">
            <span class="weekly">Weekly </span
            ><span class="rotating-menu">Rotating Menu</span>
          </div>
          <div class="line-1d"></div>
          <span class="at-our-organization"
            >At our organization, our foremost dedication is to provide a varied
            and ever-evolving assortment of meals, ensuring an engaging
            experience for our esteemed customers. Each week, we unveil a fresh
            menu comprising 15 distinctive and delectable choices. Through this
            continuous introduction of new culinary creations, our aim is to
            ward off monotony and facilitate our clients' adherence to a
            nourishing dietary regimen. We take pride in offering an extensive
            range of meals that cater to diverse palates and specific dietary
            requirements, all the while supporting our clients in their pursuit
            of wellness and the achievement of their health objectives.</span
          >
        </div>
        <div class="rectangle-1e">
          <div class="rectangle-1f">
            <div class="frame-20">
              <div class="frame-21"><div class="vector-22"></div></div>
            </div>
          </div>
          <div class="map-packaging">
            <span class="map">MAP<br /></span
            ><span class="packaging">Packaging</span>
          </div>
          <div class="line-23"></div>
          <span class="to-maintain-the-utmost-freshness"
            >To maintain the utmost freshness of our meals, we employ an
            advanced technique known as Modified Atmospheric Packaging during
            the packaging process. This method effectively reduces the oxygen
            content in the food's surrounding environment, consequently
            extending its shelf life. By harnessing this innovative approach, we
            guarantee that our meals retain their exceptional quality and taste,
            remaining as delectable and fresh at the end of the week as they
            were upon initial preparation. Our unwavering commitment to
            delivering meals of the highest quality is exemplified by the
            implementation of this cutting-edge packaging technique, which
            serves as one of the many measures we take to ensure that our
            customers always enjoy our offerings at their absolute best.</span
          >
        </div>
        <div class="rectangle-24">
          <div class="rectangle-25"><div class="vector-26"></div></div>
          <span class="are-you-eager"
            >Are you eager to shape up and reach your fitness aspirations? Look
            no further than our esteemed 90-Day Workout plan, meticulously
            curated by a renowned personal trainer, to assist you on your
            journey. By faithfully adhering to this all-inclusive program and
            nourishing your body with our specially crafted healthy meals,
            designed to supply the ideal blend of macronutrients for peak
            performance, you can finally attain the desired outcomes you've
            longed for. And the cherry on top? When you enroll in any of our
            meal plans, you'll receive this exclusive workout plan as a
            complimentary bonus, completely free of charge.</span
          >
          <div class="wrapper-c">
            <span class="text-19">90-Day<br /></span
            ><span class="workout-plan">Workout Plan<br /></span>
          </div>
          <div class="line-27"></div>
        </div>
        <div class="group-28"><div class="vector-29"></div></div>
        <div class="group-2a"></div>
        <div class="vector-2b"></div>
        <div class="rectangle-2c"></div>
        <div class="rectangle-2d"></div>
        <div class="rectangle-2e"></div>
        <div class="rectangle-2f"></div>
        <div class="rectangle-30"></div>
        <span class="ajude-quem-necessita">Ajude quem mais Necessita</span
        ><span class="sua-ajuda-fundamental">Sua Ajuda é Fundamental</span>
        <div class="rectangle-31">
          <span class="comece-agora">Comece Agora!</span>
        </div>
        <div class="rectangle-32"></div>
        <div class="rectangle-33"></div>
        <div class="rectangle-34"></div>
        <div class="rectangle-35"></div>
        <div class="rectangle-36"></div>
        <div class="rectangle-37"></div>
        <div class="rectangle-38"></div>
        <div class="rectangle-39"></div>
        <div class="rectangle-3a"></div>
        <div class="rectangle-3b"></div>
        <div class="rectangle-3c"></div>
        <div class="rectangle-3d"></div>
        <div class="rectangle-3e"></div>
        <div class="rectangle-3f"></div>
      </div>
      <div class="flex-row-ddd">
        <div class="rectangle-40"></div>
        <div class="rectangle-41"></div>
        <div class="rectangle-42"></div>
        <div class="rectangle-43"></div>
        <div class="rectangle-44"></div>
        <div class="rectangle-45"></div>
        <div class="rectangle-46"></div>
      </div>
      <div class="line-47"></div>
      <span class="nossa-cultura">Nossa Cultura</span>
      <div class="flex-row-b">
        <div class="rectangle-48">
          <div class="flex-row-f">
            <div class="rectangle-49">
              <div class="frame-4a"><div class="vector-4b"></div></div>
            </div>
            <div class="rectangle-4c">
              <div class="frame-4d">
                <div class="frame-4e"><div class="vector-4f"></div></div>
              </div>
            </div>
            <div class="rectangle-50">
              <div class="frame-51">
                <div class="frame-52"><div class="vector-53"></div></div>
              </div>
            </div>
          </div>
          <div class="flex-row-c">
            <div class="line-54"></div>
            <div class="line-55"></div>
            <div class="methodical-proactive-improvement">
              <span class="plus">+</span
              ><span class="methodical"> Methodical<br /></span
              ><span class="plus-56">+</span
              ><span class="methodical-57"> Proactive<br /></span
              ><span class="plus-58">+</span
              ><span class="methodical-59">
                System and process Improvement<br /></span
              ><span class="plus-5a">+</span
              ><span class="methodical-5b"> Structure</span>
            </div>
            <div class="work-life-balance-environment-friendship">
              <span class="plus-5c">+</span
              ><span class="work-life-balance"> Work life balance <br /></span
              ><span class="plus-5d">+</span
              ><span class="work-life-balance-5e">
                Enjoyable environment<br /></span
              ><span class="plus-5f">+</span
              ><span class="friendship-family">
                Friendship and family<br
              /></span>
            </div>
            <span class="meals-to-million"
              >From 0 meals to 1,500,00<br />million per year</span
            >
          </div>
          <div class="flex-row-e">
            <span class="good-to-great-culture">Good to Great Culture</span
            ><span class="well-balance">Well Balance</span
            ><span class="growing">Growing</span>
          </div>
        </div>
        <div class="vector-60"></div>
        <div class="vector-61"></div>
      </div>
      <div class="flex-row">
        <span class="doacoes">Doações</span
        ><span class="causos-populares">Causos Populares</span
        ><span class="proximos-eventos">Próximos Eventos</span>
        <div class="regroup-62">
          <span class="noticias">Notícias</span
          ><span class="contato-63">Contato</span
          ><span class="ajuda">Ajuda</span
          ><span class="privacidade">Privacidade</span>
        </div>
      </div>
      <span class="direitos-reservados"
        >© 2024 Partilhe | Todos os Direitos Reservados.</span
      >
      <div class="rectangle-64"></div>
      <div class="flex-row-ee">
        <div class="group-65"><div class="rectangle-66"></div></div>
        <div class="rectangle-67"></div>
        <div class="rectangle-68">
          <span class="conquistas">Conquistas<br /></span>
          <div class="rectangle-69">
            <div class="flex-row-cdb">
              <div class="group-6a"></div>
              <div class="frame-6b"><div class="vector-6c"></div></div>
              <div class="frame-6d"><div class="vector-6e"></div></div>
            </div>
            <div class="flex-row-fcfa">
              <div class="line-6f"></div>
              <div class="line-70"></div>
              <span class="comma">6,500,00</span
              ><span class="plus-71">+1,000</span
              ><span class="plus-72">+20,000</span>
            </div>
            <div class="flex-row-d-73">
              <span class="total-meals-served">Total meals served</span
              ><span class="average-star-review"
                >Average start review.<br />4,5 stars</span
              ><span class="number-of-clients-served"
                >Number of clients<br />served</span
              >
              <div class="frame-74"></div>
            </div>
          </div>
        </div>
        <div class="image-removebg-preview">
          <div class="rectangle-75"></div>
          <div class="flex-column-cf">
            <div class="line-76"></div>
            <div class="our-vision">
              <span class="our">Our</span><span class="vision"> <br /></span
              ><span class="rectangle-77">Vision</span>
            </div>
          </div>
        </div>
        <div class="flex-row-f-78"></div>
      </div>
      <div class="group-79">
        <div class="group-7a"></div>
        <div class="rectangle-7b"></div>
        <div class="reach-the-goals">
          <span class="text"
            >Throughout your journey, our service provides unwavering support,
            offering personalized guidance to help you efficiently reach your
            goals. By prioritizing your well-being and fostering
            self-confidence, we are dedicated to ensuring your success.</span
          >
          <div class="group-7c"></div>
          <span class="reach-the-goals-7d">Reach the goals<br /></span>
        </div>
        <div class="rectangle-7e">
          <span class="text-7f"
            >We take care of the entire process, from meal preparation to
            packaging and doorstep delivery, allowing you to save both time and
            money. This way, you can dedicate more precious moments to your
            loved ones.</span
          >
          <div class="group-80"></div>
          <span class="save-time">Save time</span>
        </div>
        <div class="line-81"></div>
      </div>
      <div class="group-82"></div>
      <div class="flex-row-83">
        <div class="image-84"></div>
        <div class="menu-categories"></div>
      </div>
    </div>
    <div class="internet-o-filme"> 
      <iframe width="1100" height="650" src="https://www.youtube.com/embed/NAjuMx4WG6A?si=qo6Mnz4GnjVTmVyd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
  </body>
</html>
