{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Termos de Serviço</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" />
    <link rel="stylesheet" href="{% static '/termos.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="image"></div>
      <div class="flex-row-be">
        <div class="image-1"></div>
        <div class="rectangle">
          <span class="doar">Doar</span>
          <div class="arrow-right"></div>
        </div>
        <a href="/">
        <span class="home"> Home</span></a>
        <a href="/sobrenos">
        <span class="sobre-nos">Sobre Nós</span>
        </a>
        <a href="/termos">
        <span class="servicos">Termos de Serviço</span></a>
        <span class="contato">Contato</span>
        <div class="line"></div>
      </div>
      <div class="rectangle-2">
        <span class="important-info"
          >“Coloque as info mais importantes aqui... como data de fucionamento,
          serviços e tal</span
        >
      </div>
      <div class="flex-row-b">
        <div class="termos-de-servico">
          <span class="termos-de">Termos de<br /></span
          ><span class="servico">Serviço<br /></span>
        </div>
        <div class="line-3"></div>
      </div>
      <span class="termos-de-uso-aceitacao">Termos de Uso e Aceitação</span>
      <div class="flex-row-b-4">
        <span class="doacoes">Doações</span
        ><span class="causos-populares">Causos Populares</span
        ><span class="proximos-eventos">Próximos Eventos</span>
        <div class="regroup">
          <span class="noticias">Notícias</span
          ><span class="contato-5">Contato</span><span class="ajuda">Ajuda</span
          ><span class="privacidade">Privacidade</span>
        </div>
      </div>
      <span class="direitos-reservados"
        >© 2024 Partilhe | Todos os Direitos Reservados.</span
      >
      <div class="flex-row-ef">
        <span class="welcome-message">
          <br />
          Bem-vindo ao site [partilhemais.com], dedicado a promover a doação de
          excedentes de alimentos e a integração entre produtores e organizações
          não governamentais (ONGs) para combater o desperdício alimentar e
          promover a segurança alimentar em comunidades carentes.<br />Ao
          acessar e utilizar este site, você concorda em cumprir e estar
          vinculado aos seguintes termos e condições de uso:<br />
          1-Propósito e Conformidade Legal: Este site opera em estrita
          conformidade com a legislação vigente, incluindo a Lei nº 17.755/2022,
          que regulamenta a doação de excedentes de alimentos por
          estabelecimentos que produzem ou fornecem refeições, bem como o
          Projeto de Lei 4/2021, marco significativo para combater a fome e
          promover a agricultura sustentável. Nosso propósito é facilitar o
          cumprimento dessas leis e promover a adoção de práticas sustentáveis
          na produção e distribuição de alimentos. <br />
          2-Projeto "Partilhe+": Ao utilizar este site, você está
          automaticamente participando do projeto, uma iniciativa que visa
          integrar produtores de alimentos e ONGs para facilitar a doação de
          excedentes e promover a segurança alimentar. Este projeto representa
          um compromisso com a responsabilidade social e ambiental. <br />
          3-Plataformas Tecnológicas: Este site oferece acesso a plataformas
          móveis e desktop desenvolvidas especificamente para facilitar a
          localização de produtores, a comunicação entre eles e as ONGs
          interessadas em receber doações. Essas plataformas visam otimizar o
          processo de doação, garantindo eficiência e transparência. <br />
          4-Transparência e Prestação de Contas: Comprometemo-nos a promover a
          transparência e a prestação de contas em todas as etapas do processo
          de doação. Isso inclui a divulgação detalhada das doações realizadas,
          seus beneficiários e os impactos sociais e ambientais alcançados.
          <br />
          5-Objetivos de Desenvolvimento Sustentável (ODS): Reconhecemos e
          apoiamos os Objetivos de Desenvolvimento Sustentável (ODS)
          estabelecidos pela Organização das Nações Unidas (ONU). Este site e o
          projeto "Partilhe+" estão alinhados com diversos ODS, incluindo o ODS
          2 (Fome Zero), o ODS 12 (Consumo e Produção Responsáveis) e o ODS 17
          (Parcerias e Meios de Implementação). <br />
          6-Impacto Social e Ambiental: Ao participar deste projeto, você está
          contribuindo significativamente para a construção de uma sociedade
          mais justa, inclusiva e sustentável. Seu envolvimento representa um
          passo importante na redução do desperdício de alimentos, na promoção
          da segurança alimentar e no combate à fome em comunidades carentes. Ao
          utilizar este site e participar do projeto "Partilhe+", você reconhece
          e concorda com estes termos de uso e aceitação. Se tiver alguma dúvida
          ou preocupação, entre em contato conosco para obter mais
          informações.<br
        /></span>
        <div class="group"></div>
        <div class="image-6"></div>
      </div>
      <div class="menu-categories"></div>
    </div>
  </body>
</html>
