:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: #ffffff;
  border: 10px solid #ffffff;
  overflow: hidden;
  border-radius: 34px;
  box-sizing: content-box;
  box-shadow: 0 0 45px 0 #e1c2a7;
}
.rectangle {
  position: absolute;
  width: 811px;
  height: 1080px;
  top: -66px;
  left: 1151px;
  background: #ffffff;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 265px;
  margin: 864px 0 0 236px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 1;
}
.no-account {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 25px;
  color: #828282;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 24.552px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.create-now {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 25px;
  color: #317033;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 24.552px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.image {
  position: absolute;
  width: 181px;
  height: 122px;
  top: 50%;
  left: 137px;
  background: url(./assets/images/b34baaac-0850-48c4-8c2a-89686c85761a.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -239.34%);
  z-index: 105;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 36px;
  position: absolute;
  width: 426px;
  height: 480px;
  top: 353px;
  left: 159px;
  z-index: 71;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 32px;
  position: relative;
  width: 420px;
  z-index: 72;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 3px;
  position: relative;
  width: 93px;
  z-index: 73;
}
.login {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 49px;
  color: #515151;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  text-align: left;
  white-space: nowrap;
  z-index: 74;
}
.frame-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 13px;
  position: relative;
  width: 420px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #e7e7e7;
  z-index: 75;
  border-radius: 5px;
}
.image-4 {
  flex-shrink: 0;
  position: relative;
  width: 25px;
  height: 25px;
  background: url(./assets/images/fc8c8310796fc8eeb0eec56e7bb60a0ae649d969.png)
    no-repeat center;
  background-size: cover;
  z-index: 76;
  border-radius: 10px;
}
.continue-google {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #828282;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 77;
}
.log-with-email {
  flex-shrink: 0;
  position: relative;
  width: 255px;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 78;
}
.separator {
  position: relative;
  color: #dddddd;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 16.368px;
  text-align: left;
}
.log-with-email-5 {
  position: relative;
  color: #a1a1a1;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 16.368px;
  text-align: left;
}
.separator-6 {
  position: relative;
  color: #dddddd;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 16.368px;
  text-align: left;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 32px;
  position: relative;
  width: 426px;
  z-index: 79;
}
.frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 426px;
  z-index: 80;
}
.frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 420px;
  z-index: 81;
}
.email {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #828282;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 82;
}
.frame-a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 13px;
  position: relative;
  width: 420px;
  padding: 13px 10px 13px 10px;
  border: 1px solid #ded2d9;
  z-index: 83;
  overflow: hidden;
  border-radius: 5px;
}
.frame-input {
  flex-shrink: 0;
  position: absolute;
  width: 420px;
  height: 45px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 85;
  outline: none;
}
.span-exemplo-gmail {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #e0e0e0;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 84;
}
.frame-b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 426px;
  z-index: 86;
}
.frame-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 420px;
  z-index: 87;
}
.span-senha {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #828282;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 88;
}
.frame-d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 13px;
  position: relative;
  width: 420px;
  padding: 18px 10px 13px 10px;
  border: 1px solid #ded2d9;
  z-index: 89;
  overflow: hidden;
  border-radius: 5px;
}
.frame-input-e {
  flex-shrink: 0;
  position: absolute;
  width: 420px;
  height: 45px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 91;
  outline: none;
}
.span-password {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 14px;
  color: #e0e0e0;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 13.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 90;
}
.frame-f {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 222px;
  position: relative;
  width: 426px;
  z-index: 92;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 101px;
  z-index: 93;
}
.check {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 12px;
  z-index: 94;
}
.check-solid {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0.86px 0 0 1px;
  z-index: 96;
  overflow: hidden;
}
.icons-navigation-others-check {
  position: relative;
  width: 8px;
  height: 8px;
  margin: 1.143px 0 0 1px;
  z-index: 97;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 7.566px;
  height: 5.731px;
  margin: 1.217px 0 0 0.22px;
  background: url(./assets/images/8bd15b11-11d4-4233-b964-c3652deb27d5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 98;
}
.icon-checkbox-unfilled {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #317033;
  border: 2px solid #317033;
  z-index: 95;
  border-radius: 2px;
}
.span-lembrar-senha {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #a1a1a1;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 99;
}
.span-esqueceu-senha {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #317033;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 100;
}
.frame-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 13px;
  position: relative;
  width: 420px;
  padding: 13px 10px 12px 10px;
  cursor: pointer;
  background: #317033;
  border: none;
  z-index: 101;
  border-radius: 6px;
}
.span-login {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 25px;
  color: #ffffff;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 24.552px;
  text-align: left;
  white-space: nowrap;
  z-index: 102;
}
.refeilcao-hd {
  position: absolute;
  width: 198.596px;
  height: 196.351px;
  top: -63px;
  left: 126px;
  background: url(./assets/images/92e150db-7f32-48f5-b326-9aba8ace9bb0.png)
    no-repeat center;
  background-size: cover;
  z-index: 70;
}
.rectangle-11 {
  position: absolute;
  width: 1109px;
  height: 1080px;
  top: -42px;
  left: 11px;
  background: #ffffff;
  z-index: 5;
}
.vector-12 {
  position: relative;
  width: 2.746px;
  height: 2.746px;
  margin: 56px 0 0 788px;
  background: url(./assets/images/20e472ab-dfea-44d6-a7e7-c723ee9b917a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 65;
}
.flex-row-ddf {
  position: relative;
  width: 648.943px;
  height: 34.386px;
  margin: 57.254px 0 0 318px;
  z-index: 64;
}
.vector-13 {
  position: absolute;
  width: 7.47%;
  height: 100%;
  top: 0;
  left: 80.28%;
  background: url(./assets/images/b0ce49d8-08d8-4e3f-aa4f-668586ecd818.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 16;
}
.vector-14 {
  position: absolute;
  width: 1.23%;
  height: 23.27%;
  top: 17.45%;
  left: 0;
  background: url(./assets/images/c17e96ac-fe76-412e-a53e-a26c243ccd9f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 57;
}
.vector-15 {
  position: absolute;
  width: 0.31%;
  height: 5.88%;
  top: 40.43%;
  left: 99.69%;
  background: url(./assets/images/27d82baa-bfe2-4eda-a489-7f7681b53cc9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 64;
}
.vector-16 {
  position: absolute;
  width: 0.31%;
  height: 5.88%;
  top: 84.7%;
  left: 88.7%;
  background: url(./assets/images/d3180bc5-c863-4a06-99c7-14e4ea08b7a2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 63;
}
.vector-17 {
  position: relative;
  width: 3.018px;
  height: 3.018px;
  margin: 7.804px 0 0 809.455px;
  background: url(./assets/images/23cd38a3-9f5c-463a-895b-af9ea11e209a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 67;
}
.vector-18 {
  position: relative;
  width: 3.018px;
  height: 3.018px;
  margin: -2.136px 0 0 537px;
  background: url(./assets/images/a95dec4b-c41d-45c5-9c41-c163b8d4e55c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 59;
}
.vector-19 {
  position: relative;
  width: 3.018px;
  height: 3.018px;
  margin: 4.089px 0 0 638.119px;
  background: url(./assets/images/b2d31c4e-8b35-4817-9074-9c2fff74059a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 60;
}
.flex-row {
  position: relative;
  width: 660.328px;
  height: 34.448px;
  margin: 26.804px 0 0 377px;
  z-index: 66;
}
.vector-1a {
  position: absolute;
  width: 7.33%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/06a2a778-4bfc-41f0-b751-914f378855ec.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 48;
}
.vector-1b {
  position: absolute;
  width: 0.46%;
  height: 8.76%;
  top: 20.37%;
  left: 99.54%;
  background: url(./assets/images/4366620a-c902-4e3f-abb8-dba077a7c433.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 66;
}
.flex-row-cc {
  position: relative;
  width: 938.588px;
  height: 705.072px;
  margin: 9.552px 0 0 59px;
  z-index: 103;
}
.rectangle-1c {
  position: absolute;
  width: 63.24%;
  height: 84.66%;
  top: 0;
  left: 21.42%;
  background: url(./assets/images/b5e0ed34-7dd4-43db-937b-d9f3277bb0af.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
}
.vector-1d {
  position: absolute;
  width: 6.98%;
  height: 9.29%;
  top: 1.35%;
  left: 64.16%;
  background: url(./assets/images/26095cfa-cbc5-4355-8422-0b413d6cce91.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 7;
}
.vector-1e {
  position: absolute;
  width: 0.29%;
  height: 0.39%;
  top: 1.81%;
  left: 47.84%;
  background: url(./assets/images/134a2746-02cc-4760-b9c4-c4f1c5ecb5cc.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 24;
}
.vector-1f {
  position: absolute;
  width: 0.32%;
  height: 0.43%;
  top: 6.2%;
  left: 96.63%;
  background: url(./assets/images/37d515b4-b206-4138-98e1-58ed70136bc7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 49;
}
.vector-20 {
  position: absolute;
  width: 0.85%;
  height: 1.13%;
  top: 9.43%;
  left: 90.24%;
  background: url(./assets/images/68cd8fea-7fda-4f48-ab2f-b9c7fe532c61.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 53;
}
.vector-21 {
  position: absolute;
  width: 0.22%;
  height: 0.29%;
  top: 12.29%;
  left: 66.69%;
  background: url(./assets/images/f2ff3d61-ebbc-4407-bf8c-7b2eb9c2aabd.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 23;
}
.vector-22 {
  position: absolute;
  width: 0.22%;
  height: 0.29%;
  top: 14.45%;
  left: 59.09%;
  background: url(./assets/images/81a4f046-91b2-4e9c-ab12-8d9e627a82fb.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 20;
}
.vector-23 {
  position: absolute;
  width: 0.32%;
  height: 0.43%;
  top: 16.31%;
  left: 50.13%;
  background: url(./assets/images/a2c5bb00-0a13-4759-aebf-3cf385ff104a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 32;
}
.vector-24 {
  position: absolute;
  width: 5.17%;
  height: 4.88%;
  top: 17.58%;
  left: 68.14%;
  background: url(./assets/images/9b455bda-4ff8-4b66-856e-c4005ae61ef8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 13;
}
.frame-25 {
  position: absolute;
  width: 207px;
  height: 110px;
  top: 136px;
  left: 458px;
  z-index: 103;
  overflow: hidden;
}
.vector-26 {
  position: relative;
  width: 2.022px;
  height: 2.022px;
  margin: 9.178px 0 0 153.723px;
  background: url(./assets/images/c1da2f08-7682-4b1d-82fa-6f542d185adf.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 21;
}
.vector-27 {
  position: relative;
  width: 3.018px;
  height: 3.018px;
  margin: 14.107px 0 0 100.9px;
  background: url(./assets/images/de120f4b-527a-4847-b305-dd56444d78b1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 26;
}
.vector-28 {
  position: relative;
  width: 2.022px;
  height: 2.022px;
  margin: 51.692px 0 0 178.603px;
  background: url(./assets/images/8dd8a8e2-30ae-4557-b1ac-3c5cfe22b079.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 18;
}
.vector-29 {
  position: absolute;
  width: 0.32%;
  height: 0.43%;
  top: 22.66%;
  left: 74.08%;
  background: url(./assets/images/51ab910b-f82e-4dac-b475-e742596d87b9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 30;
}
.vector-2a {
  position: absolute;
  width: 0.32%;
  height: 0.43%;
  top: 23.26%;
  left: 0.11%;
  background: url(./assets/images/2ce6d5c1-4e8c-46d4-866e-32030c7bdd5b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 51;
}
.vector-2b {
  position: absolute;
  width: 0.22%;
  height: 0.29%;
  top: 28.34%;
  left: 71.14%;
  background: url(./assets/images/19f92400-1603-41f6-8686-90e8d01d2265.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 19;
}
.vector-2c {
  position: absolute;
  width: 0.32%;
  height: 0.43%;
  top: 28.41%;
  left: 30.3%;
  background: url(./assets/images/1a5a9f76-07f5-4e9e-b900-19622d1f745f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 34;
}
.vector-2d {
  position: absolute;
  width: 0.85%;
  height: 1.13%;
  top: 28.65%;
  left: 96.1%;
  background: url(./assets/images/84c11d53-733f-49ab-8b11-68081e3dee84.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 55;
}
.group {
  position: absolute;
  width: 19.33%;
  height: 13.98%;
  top: 29.93%;
  left: 13%;
  background: url(./assets/images/e0c97146-4ee6-4ac9-8394-0568fd928b9c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 69;
}
.vector-2e {
  position: absolute;
  width: 0.22%;
  height: 0.29%;
  top: 30.44%;
  left: 35.9%;
  background: url(./assets/images/9a2716fe-ca14-418c-8554-20e5a81fc5d4.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 22;
}
.vector-2f {
  position: absolute;
  width: 0.32%;
  height: 0.43%;
  top: 31.24%;
  left: 35.23%;
  background: url(./assets/images/5227d12c-5906-4b80-b3dd-c177ce71e7b6.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 33;
}
.vector-30 {
  position: absolute;
  width: 0.22%;
  height: 0.29%;
  top: 32.12%;
  left: 76.26%;
  background: url(./assets/images/2708b706-0ff3-4f6b-9921-5fe882dd1dcf.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 17;
}
.vector-31 {
  position: absolute;
  width: 0.32%;
  height: 0.43%;
  top: 32.26%;
  left: 36.12%;
  background: url(./assets/images/c53c5f09-cd33-4d51-912a-c7c7e42e703e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 28;
}
.group-32 {
  position: absolute;
  width: 20.92%;
  height: 15.12%;
  top: 34.18%;
  left: 70.32%;
  background: url(./assets/images/202d403c-9972-4c35-a759-c3863d2fc7ac.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 68;
}
.vector-33 {
  position: relative;
  width: 3.018px;
  height: 3.018px;
  margin: 24.7px 0 0 36.834px;
  background: url(./assets/images/8ece372d-a83e-42da-b530-b4ff1adf14fe.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 25;
}
.group-34 {
  position: absolute;
  width: 53.2%;
  height: 65.61%;
  top: 34.39%;
  left: 25.89%;
  background: url(./assets/images/851c22c9-73e9-4555-b3a0-ce86a913fdb9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 37;
}
.vector-35 {
  position: relative;
  width: 8.002px;
  height: 8.002px;
  margin: 18.865px 0 0 373.173px;
  background: url(./assets/images/6808f210-62c4-4235-9919-1f1c9e1f830a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 31;
}
.vector-36 {
  position: relative;
  width: 3.018px;
  height: 3.018px;
  margin: 44.905px 0 0 144.426px;
  background: url(./assets/images/599ba2b1-e1c9-4ced-a245-d4d2df2476f0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 27;
}
.vector-37 {
  position: relative;
  width: 28.607px;
  height: 20.699px;
  margin: 4.089px 0 0 352.685px;
  background: url(./assets/images/326f2fa5-6f92-488f-8508-453f235cfd92.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
}
.vector-38 {
  position: relative;
  width: 3.018px;
  height: 3.018px;
  margin: 9.749px 0 0 360.666px;
  background: url(./assets/images/1a359acb-1ace-4dfb-ba69-93b8274dc306.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 29;
}
.vector-39 {
  position: relative;
  width: 3.018px;
  height: 3.018px;
  margin: 3.516px 0 0 159.68px;
  background: url(./assets/images/2e872a52-9839-4456-b1d1-6169f92fb08c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 36;
}
.vector-3a {
  position: relative;
  width: 3.018px;
  height: 3.018px;
  margin: 23.627px 0 0 405.703px;
  background: url(./assets/images/8d7fb2fb-6fc2-4eb5-b4e9-8e21edaaf498.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 35;
}
.vector-3b {
  position: absolute;
  width: 0.32%;
  height: 0.43%;
  top: 42.53%;
  left: 9.76%;
  background: url(./assets/images/06d28c3f-b705-4c4a-a4af-b3820f4707a7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 43;
}
.vector-3c {
  position: absolute;
  width: 0.32%;
  height: 0.43%;
  top: 48.79%;
  left: 11.39%;
  background: url(./assets/images/8666b2d8-3999-4b33-8784-0503358272fa.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 46;
}
.vector-3d {
  position: absolute;
  width: 5.17%;
  height: 4.88%;
  top: 56.02%;
  left: 11.4%;
  background: url(./assets/images/5b2302c0-3175-4117-8264-520a572707fb.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 41;
}
.vector-3e {
  position: absolute;
  width: 3.94%;
  height: 5.25%;
  top: 57.3%;
  left: 81.08%;
  background: url(./assets/images/ab4ea6fd-3b1c-48d2-a838-6068c7150232.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 8;
}
.vector-3f {
  position: absolute;
  width: 0.32%;
  height: 0.43%;
  top: 62.55%;
  left: 94.18%;
  background: url(./assets/images/f6d36ca9-bdd6-4545-8120-4f3e317b0d15.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 45;
}
.vector-40 {
  position: absolute;
  width: 0.22%;
  height: 0.29%;
  top: 63.4%;
  left: 25.24%;
  background: url(./assets/images/b76d61c3-9581-472d-9220-692d6662b96e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 61;
}
.vector-41 {
  position: absolute;
  width: 0.22%;
  height: 0.29%;
  top: 64.57%;
  left: 99.78%;
  background: url(./assets/images/9d43acc1-3c2a-4129-b9f1-580d8cd644bf.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 42;
}
.vector-42 {
  position: absolute;
  width: 0.32%;
  height: 0.43%;
  top: 65.38%;
  left: 99.12%;
  background: url(./assets/images/cef199d7-0068-43dc-a209-3a14a42c5685.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 44;
}
.vector-43 {
  position: absolute;
  width: 0.32%;
  height: 0.43%;
  top: 68.97%;
  left: 23.23%;
  background: url(./assets/images/708733c0-ef5a-4d20-8ae6-d3656c17049e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 62;
}
.vector-44 {
  position: absolute;
  width: 0.32%;
  height: 0.43%;
  top: 91.76%;
  left: 6.39%;
  background: url(./assets/images/0a081db6-f321-44c7-8915-bcc62a1111fe.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 50;
}
.vector-45 {
  position: absolute;
  width: 2.66%;
  height: 3.55%;
  top: 94.17%;
  left: 7.78%;
  background: url(./assets/images/664182fa-1893-401f-9bcf-118c6fbd3c3c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 10;
}
.vector-46 {
  position: absolute;
  width: 0.85%;
  height: 1.13%;
  top: 95%;
  left: 0;
  background: url(./assets/images/3a4ff33a-80b3-49d0-ac89-e27c223728c4.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 54;
}
.esse-e-o-partilhe {
  display: block;
  position: relative;
  height: 47px;
  margin: 20.928px 0 0 392px;
  color: #317033;
  font-family: Rubik, var(--default-font-family);
  font-size: 40px;
  font-weight: 800;
  line-height: 47px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.pra-zerar-o-desperdicio {
  display: block;
  position: relative;
  height: 30px;
  margin: 7.999px 0 0 427px;
  color: #000000;
  font-family: Rubik, var(--default-font-family);
  font-size: 25px;
  font-weight: 300;
  line-height: 29.625px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.vector-47 {
  position: relative;
  width: 8.002px;
  height: 8.002px;
  margin: -5.715px 0 0 114px;
  background: url(./assets/images/2ec29f14-aa4d-4f3a-9b44-15cc8ea9c771.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 56;
}
.group-48 {
  position: absolute;
  width: 15.49%;
  height: 27.12%;
  top: -3.8%;
  left: -3.18%;
  background: url(./assets/images/4f283150-1921-478c-9e59-7aa1d4b00151.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 38;
}
.suco-de-laranja-removebg-preview {
  position: absolute;
  width: 215.212px;
  height: 345.022px;
  top: 808px;
  left: 969px;
  background: url(./assets/images/36f8b8d4-4e76-49b7-90e9-6dea32f7c524.png)
    no-repeat center;
  background-size: cover;
  z-index: 104;
}
.vector-49 {
  position: relative;
  width: 8.002px;
  height: 8.002px;
  margin: 116px 0 0 29px;
  background: url(./assets/images/2d34d8ad-81de-44a4-95b9-cdbfe8e96efa.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 58;
}
.vector-4a {
  position: absolute;
  width: 8.7%;
  height: 15.46%;
  top: 94.17%;
  left: 52.66%;
  background: url(./assets/images/cd333c1b-f619-4288-808e-e897e16bd63e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 9;
}
.vector-4b {
  position: absolute;
  width: 0.16%;
  height: 0.28%;
  top: 98.33%;
  left: 46.72%;
  background: url(./assets/images/9c24ba2c-e3e5-403a-a963-281ab8bd6770.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 52;
}
